node_modules
dist
__pycache__
*.pyc
*.pyo
backend/instance/
backend/*.db
backend/.env
.env
!.env.example
.expo/

dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
